.icon {
  display: inline-block;
  height: 32px;
  width: 32px;
  background-image: url('../../../assets/images/loading.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.icon.small {
  height: 20px;
  width: 20px;
}

.icon.large {
  height: 64px;
  width: 64px;
}

.icon.space {
	margin-right: 20px;
}

.icon.whatsapp {
  background-image: url('../../../assets/images/icon-whatsapp.svg');
}

.icon.location {
  background-image: url('../../../assets/images/icon-location.svg');
}

.icon.linkedin {
  background-image: url('../../../assets/images/icon-linkedin.svg');
}

.icon.check {
  background-image: url('../../../assets/images/icon-check.svg');
}
