h1, h2, h3, h4 {
  font-family: 'Poppins', sans-serif;
  font-size: 28px;
  line-height: 1.2;
}

h1 {
  font-size: 42px !important;
}

h2 {
  font-size: 30px !important;
}

.subtitle {
  font-size: 24px;
  justify-content: center;
  margin: auto;
  margin-bottom: 50px;
}

.text-highlight {
  color: #A500FF !important;
}

.text-medium {
  font-size: 14px;
}

@media (min-width: 768px) {
  h1 {
    font-size: 60px !important;
  }

  .h2 {
    font-size: 42px !important;
  }
  
  .h3 {
    font-size: 26px !important;
  }
  
  .subtitle {
    font-size: 26px;
  }
}